

.timer {
    background-color: black;
    text-decoration-color: blanchedalmond;

};

.h1 {
background-color: cornflowerblue;

};

.a1 {
    display: none;
};

.a2 {
    display: none;
};

.a3 {
    display: none;
};

.a4 {
    display: none;
};