

/* .timer {
    background-color: red;
    text-decoration-color: white;

};

/* #a1 { 
   
    display: none;
};

/* #a2 { 
   
    display: none;
};

#a3 {
    
    display: none;
};

#a4 {
    
    display: none;
}; */